<a href="https://colab.research.google.com/github/joaozz21/Projetos_de_Estudo/blob/main/An%C3%A1lises_hist%C3%B3rico_de_visualiza%C3%A7%C3%B5es_do_Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# João Henrique ALves de Oliveira

Para este item você pode usar [esse histórico de visualização do Netflix](https://raw.githubusercontent.com/BMClab/BasesComputacionais/master/dados/netflix.csv) ou, se você tiver acesso ao Netflix, usar o seu [histórico](https://www.netflix.com/viewingactivity) (após entrar com a sua senha, role até o final da página e clique em "Baixar tudo").

   + Mostre quais são os 10 programas mais vistos.
   + Em qual mês do ano foi assistido mais programas?

In [22]:
import pandas as pd

ds3= pd.read_csv("https://raw.githubusercontent.com/BMClab/BasesComputacionais/master/dados/netflix.csv")

ds3['Categoria'] = 'Filme'
ds3.loc[ds3['Title'].str.contains(": Temporada|: Stranger|: Parte"),'Categoria'] = 'Série'
ds3['Programa'] = ds3['Title']
ds3[['Programa','Episódio']] = ds3[ds3['Categoria']=='Série']['Title'].str.split(pat = ': Temporada|: Stranger Things|: Parte', expand = True, n = 1)
ds3.loc[ds3['Categoria']=='Filme', 'Programa'] = ds3.loc[ds3['Categoria']=='Filme', 'Title']
ds3 = ds3.drop(columns = 'Title')
ds3['Count'] = 1

top10 = ds3.groupby('Programa').count().sort_values('Count',ascending = False).head(10)
print('Os 10 programas mais vistos são:\n')
for i in top10.index:
  print(f'{i} | visto {top10.loc[i, "Count"]} vezes')


ds3['Date'] = pd.to_datetime(ds3['Date'], format= "%d/%m/%Y")
ds3['Mês'] = ds3['Date'].dt.month_name()
mesMaisAssistido = ds3['Mês'].mode()
print(
    f'\nO Mês do ano em que programas foram mais assistidos foi o mês de {mesMaisAssistido[0]}'
    )

Os 10 programas mais vistos são:

Jornada nas Estrelas: A nova geração | visto 67 vezes
Star Trek: Enterprise | visto 63 vezes
The Crown | visto 60 vezes
Jornada nas Estrelas: Deep Space Nine | visto 56 vezes
Aggretsuko | visto 48 vezes
Jornada nas estrelas | visto 45 vezes
Star Trek: Discovery | visto 42 vezes
Cobra Kai | visto 32 vezes
Downton Abbey | visto 25 vezes
Era uma vez | visto 23 vezes

O Mês do ano em que programas foram mais assistidos foi o mês de March

In [26]:
top10['Count']

Programa
Jornada nas Estrelas: A nova geração     67
Star Trek: Enterprise                    63
The Crown                                60
Jornada nas Estrelas: Deep Space Nine    56
Aggretsuko                               48
Jornada nas estrelas                     45
Star Trek: Discovery                     42
Cobra Kai                                32
Downton Abbey                            25
Era uma vez                              23
Name: Count, dtype: int64

In [25]:
ds3.groupby('Mês').count().sort_values('Count',ascending = False).head(10)['Count']

Mês
March       111
June        109
December    107
February     99
January      98
April        93
May          90
November     88
July         77
October      44
Name: Count, dtype: int64